@tailwind base;
@tailwind components;
@tailwind utilities;

/* select要素のcss */
select {
  background-color: #f0f0f0; /* 背景色を設定 */
  border: 1px solid #ccc; /* 枠線を設定 */
  border-radius: 4px; /* 角を丸くする */
  font-size: 16px; /* フォントサイズを設定 */
  cursor: pointer; /* カーソルをポインターに変更 */
  transition: border-color 0.3s; /* 枠線の色の変化にトランジションを追加 */
}

select:hover {
  border-color: #888; /* ホバー時の枠線の色を変更 */
}

select:focus {
  border-color: #555; /* フォーカス時の枠線の色を変更 */
  outline: none; /* デフォルトのアウトラインを削除 */
}
